body {
    font-family: Arial, sans-serif;
    background-image: url('bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

header {
    border-radius: 8px;
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 0px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    color: #fafafa;
    background: linear-gradient(180deg, rgba(83, 85, 87, 1) 0%, rgba(14, 15, 15, 1) 100%);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3),
                inset 0px 2px 1px rgba(255, 255, 255, 0.3),
                inset 0px -2px 1px rgba(0, 0, 0, 0.4);
}

h1 {
    font-size: 36px;
}

.container {
    max-width: 800px;
    margin: 20px auto 120px;
    background-image: url('image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #010f36;
}

p {
    line-height: 1.6;
}

.card-white {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    margin: 20px 0;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    position: relative;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3),
                inset 0px 2px 1px rgba(255, 255, 255, 0.3),
                inset 0px -2px 1px rgba(0, 0, 0, 0.4);
}

.card-white h2 {
    color: #010f36; /* Rose */
    font-size: 24px;
    margin-bottom: 10px;
}

.card-white p {
    line-height: 1.6;
}

.card-white ul {
    list-style-type: disc;
    margin-left: 20px;
}

.tile {
    border-radius: 15px;
    padding: 25px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    color: #fafafa;
    background: linear-gradient(180deg, rgba(83, 85, 87, 0.9) 0%, rgba(14, 15, 15, 0.9) 100%);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3),
                inset 0px 2px 1px rgba(255, 255, 255, 0.3),
                inset 0px -2px 1px rgba(0, 0, 0, 0.4);
}

.tile img {
    width: 100%;
    border-radius: 5px;
    filter: drop-shadow(0px -2px 1px rgba(0, 0, 0, 0.25));
}

.tile img:hover {
    transform: scale(1.10);
}

.columns.three {
    display: grid;
    width: 100%;
    grid-template-columns: auto auto auto;
    gap: 25px;
}

#avatar {
  width: 100px;
  position: absolute;
  height: 100px;
  border-radius: 50%;
  right:20px;
  margin-top: 20px;
  overflow: hidden;
}

#avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn {
    text-decoration: none;
}

.btn.tile {
    display: inline-block;
    padding: 5px 5px;
    color: #fff;
    width: 100px;
    font-weight: bold;
    text-align: center;
}

.btn.tile:hover {
    transform: scale(1.05);
}